.movies {
  margin: 76px 10px 108px;
  position: relative;
}

.movies_edit-margin {
  margin: 76px 10px 97px;
}

.movies__input-error {
  display: none;
}

.movies__input-error_active {
  position: absolute;
  display: block;
  top: 50px;
  left: 22px;
  color: red;
}

.movies__form {
  display: grid;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  grid-template-columns: 1fr auto;
  gap: 10px;
  margin-bottom: 45px;
}

.movies__button-search {
  color: #fff;
  font-weight: 500;
  background-color: #3456f3;
  padding: 13px 17px;
  border-radius: 3px;
  margin-right: 4px;
  transition: all 0.3s ease;
}

.movies__button-search:hover {
  background-color: #2be080;
}

.movies__input {
  display: block;
  background-color: #f9f9f9;
  border: none;
  padding: 13px 16px;
  margin: 0 0 0 4px;
  border-radius: 4px;
}

.movies__switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 13px;
  padding-bottom: 43px;
  margin-bottom: 50px;
  border-bottom: 1px solid #e8e8e8;
}

.movies__button-switch {
  min-width: 36px;
  min-height: 20px;
  border-radius: 25px;
  margin-top: -1px;
  position: relative;
  background-color: rgb(224 224 224);
  box-shadow: 0 4px 4px rgb(0 0 0 / 0.09);
  transition: all 0.5s ease-in-out;
}

.movies__button-switch::after {
  content: '';
  position: absolute;
  background-color: #5a5a5a;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.movies__description {
  margin: 0;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
}

.movies__button-switch_active {
  background-color: white;
}

.movies__button-switch_active::after {
  left: 18px;
  background-color: #2be080;
}

.movies__button-add-more-film {
  display: block;
  margin: 0 auto;
  padding: 11px 110px;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  background-color: #f9f9f9;
  border-radius: 6px;
}

.movies__list {
  display: grid;
  justify-content: center;
  margin-bottom: 80px;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, 300px);
}

@media screen and (width >= 767px) {

  .movies__input {
    font-size: 14px;
    margin: 0;
    padding: 16px 22px;
  }

  .movies {
    margin: 75px 30px 87px;
  }

  .movies_edit-margin {
    margin: 75px 30px 76px;
  }

  .movies__button-search {
    margin: auto 0;
  }

  .movies__description {
    font-size: 12px;
  }

  .movies__form {
    margin-bottom: 31px;
  }

  .movies__switch {
    padding-bottom: 39px;
    margin-bottom: 80px;
    border-bottom: 1px solid #e8e8e8;
  }

  .movies__list {
    grid-template-columns: repeat(auto-fill, 342px);
    gap: 35px 24px;
    margin-bottom: 80px;
  }

  .movies__button-add-more-film {
    padding: 11px 147px;
  }
}

@media screen and (width >= 1279px) {

  .movies__list {
    grid-template-columns: repeat(auto-fill, 360px);
    gap: 32px 29px;
    margin-bottom: 60px;
  }

  .movies {
    margin: 75px 70px 132px;
  }

  .movies_edit-margin {
    margin: 75px 70px 42px;
  }

  .movies__button-add-more-film {
    padding: 11px 147px 10px;
  }
}
