.profile {
  margin: 65px 30px 32px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.profile__error {
  flex-direction: row;
}

.profile__btn_save {
  background-color: #2be080;
}

.profile__btn_cancel {
  background-color: #888;
}

.profile__block-save {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.profile__server-info {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: #2be080;
  border-top: 2px solid #2be080;
  margin: 0 0 10px;
}

.profile__server-info_error {
  color: red;
  border-top: 2px solid red;
}

.profile__title {
  margin: 0 0 69px;
  max-width: calc(100vw - 60px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.profile__element {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 1fr;
  font-family: Inter, sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
}

.profile__description {
  font-weight: 500;
  min-width: 40px;
}

.profile__input {
  margin: 0;
  padding: 0;
  text-align: right;
  border: 0;
}

.profile__errors {
  margin-top: -2px;
}

.profile__text {
  margin: auto 0;
  text-align: right;
}

.profile__input:focus {
  outline: none;
}

.profile__input_active {
  border-bottom: 2px solid;
}

.profile__btn_blocked {
  cursor: auto;
  background-color: #9c9c9c;
}

.profile__btn_blocked:hover {
  box-shadow: 2px 2px 5px 0 rgb(255 255 255 / 0);
}

.profile__input_valid:focus {
  border-bottom: 2px solid #2be080;
}

.profile__input_no-valid:focus {
  border-bottom: 2px solid red;
}

.profile__element:first-child {
  padding-bottom: 5px;
  border-bottom: 1px solid #e8e8e8;
  margin: 0 0 6px;
}

.profile__form {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.profile__btn {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  padding: 8px;
}

.profile__btn_signout {
  color: #ff3055;
}

@media screen and (width >= 767px) {

  .profile {
    margin: 231px 179px 151px;
  }

  .profile__title {
    margin: 0 2px 85px 0;
  }

  .profile__btn {
    font-size: 13px;
  }

  .profile__server-info {
    font-size: 13px;
  }
}

@media screen and (width >= 1279px) {

  .profile {
    margin: 69px 435px 62px;
  }

  .profile__title {
    margin: 0 2px 112px 0;
  }

  .profile__btn {
    margin-left: 0;
  }
}
