.promo__conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #073042;
}

.promo__logo {
  margin-top: 70px;
  display: block;
  max-width: 210px;
  min-height: 206px;
  object-fit: cover;
  margin-bottom: 44px;
}

.promo__title {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: -1.2px;
  margin: 0 10px 24px;
}

.promo__word-nowrap {
  white-space: nowrap;
}

.promo__subtitle {
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  margin: 0 30px 80px;
  opacity: 0.5;
}

.promo__button {
  all: unset;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #fff;
  opacity: 0.6;
  text-align: center;
  padding: 9px 19px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  transition: all 0.3s ease;
  display: block;
}

.promo__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: #fff;
  margin: 0 auto 30px;
}

.promo__button:hover {
  transform: translate(2px, 2px);
}

@media screen and (width >= 767px) {

  .promo__logo {
    margin-top: 140px;
    display: block;
    max-width: 310px;
    min-height: 304px;
    margin-bottom: 49px;
  }

  .promo__title {
    font-feature-settings:
      'clig' off,
      'liga' off;
    font-size: 40px;
    line-height: 50px;
    margin: 0 42px 21px;
    letter-spacing: normal;
  }

  .promo__subtitle {
    margin: 0 254px 92px;
    font-feature-settings:
      'clig' off,
      'liga' off;
  }

  .promo__link {
    margin: 0 auto 76px;
  }
}

@media screen and (width >= 1279px) {

  .promo__conteiner {
    display: flex;
    flex-direction: row;
    gap: 198px;
    padding: 0 70px;
    align-items: flex-start;
  }

  .promo__content {
    order: -1;
  }

  .promo__logo {
    margin-top: 75px;
  }

  .promo__title {
    font-size: 50px;
    line-height: 58px;
    margin: 75px 0 36px;
    text-align: start;
  }

  .promo__subtitle {
    text-align: left;
    margin: 0 300px 0 0;
  }

  .promo__link {
    margin: 146px 0 75px;
    justify-content: start;
  }
}
