.change-movie__button {
   position: relative;
   display: block;
   min-width: 100px;
   min-height: 29px;
   text-align: center;
   margin: 0 auto;
   font-size: 12px;
   font-weight: 400;
   line-height: 11px;
   border-radius: 30px;
   background: #F9F9F9;
   box-shadow: none;
}

.change-movie__button_remove {
   background: url('../../images/x.svg') center / 100% no-repeat;
}

.change-movie__button_active {
   background: #FF3055;
   position: relative;
}

.change-movie__button_active::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 2;
   top: 0;
   left: 0;
   transform: rotate(13deg);
   background: url('../../images/checkmark-svgrepo-com.svg') center / 10px 10px no-repeat;
}

@media screen and (min-width: 767px) {
   .change-movie__button {
      margin: 0 auto 4px;
   }
}