.burger {
   position: relative;
   cursor: pointer;
   display: block;
   min-width: 22px;
   min-height: 22px;
   padding: 0;
   margin: 9px 9px auto 0;
   z-index: 3;
}

.burger_active {
   margin: 0 4px auto 0;
}

.burger-line {
   position: absolute;
   width: 22px;
   height: 3px;
   background-color: #000000;
   transition: all 0.5s ease-out;
}

.burger-line:first-child {
   top: 0;
}

.burger-line:nth-child(2) {
   top: 9px;
}

.burger-line:last-child {
   bottom: 1px;
}

.burger-second-line {
   display: none;
}

.burger-first-line {
   transform: rotate(-45deg) translate(-7px, 7px);
}

.burger-third-line {
   transform: rotate(45deg) translate(-6px, -6px);
}

@media screen and (min-width: 767px) {

   .burger {
      margin: 8px 14px auto 0;
   }

   .burger-line {
      width: 28px;
   }

   .burger-line:first-child {
      top: 0px;
   }

   .burger-line:nth-child(2) {
      top: 10px;
   }

   .burger-line:last-child {
      bottom: -1px;
   }

   .burger-first-line {
      transform: rotate(-45deg) translate(3px, 17px);
   }

   .burger-third-line {
      transform: rotate(45deg) translate(3px, -17px);
   }
}

@media screen and (min-width: 1279px) {
   .burger {
      display: none;
   }

   .burger {
      margin: 8px 14px auto 0;
   }
}