.header {
   transition: all 0.5s ease-out;
   background-color: #073042;
}

.header-container {
   position: relative;
   padding: 18px 14px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-container_profile {
   background-color: #ffffff;
}

.header-list {
   margin: 0;
   padding: 0;
   display: flex;
   gap: 14px;
}

.header-link {
   all: unset;
   cursor: pointer;
}

.header-link-green {
   border-radius: 3px;
   background: #2BE080;
   padding: 7px 12px;
}

.header-element {
   text-align: right;
   font-size: 10px;
   font-weight: 500;
   margin: auto 0;
   line-height: 16px;
}

.header-link-home_profile {
   margin: 0 0 5px;
}

.header-element:first-child {
   color: #FFF;
}

@media screen and (min-width: 767px) {
   .header-container {
      padding: 18px 30px;
   }

   .header-element {
      font-size: 12px;
   }

   .header-link-green {
      padding: 8px 20px 9px;
   }

   .header-list {
      gap: 31px;
   }
}

@media screen and (min-width: 1279px) {
   .header-container {
      padding: 18px 70px;
   }


}