.about-project__subtitle {
   margin: 0 0 16px;
   font-size: 18px;
   line-height: normal;
   letter-spacing: -0.72px;
   font-weight: 400;
}

.about-project__description {
   margin: 0 0 57px;
   font-size: 11px;
   line-height: 16px;
}

.about-project__list {
   padding-bottom: 4px;
}

.about-project__chart {
   padding: 0 0 18px;
   display: grid;
   grid-template-columns: 35.21% 64.79%;
}

.chart__element {
   text-align: center;
   padding: 10.5px 0;
}

.chart__element_data {
   font-size: 11px;
}

.chart__element_data:nth-child(1) {
   background-color: #2BE080;
}

.chart__element_data:nth-child(2) {
   background-color: #F2F2F2;
}

.chart__element_name {
   color: #A0A0A0;
   font-family: "Suisse";
   font-size: 11px;
   font-style: normal;
   line-height: normal;
}

@media screen and (min-width: 767px) {
   .about-project__list {
      display: flex;
      gap: 37px
   }

   .about-project__description {
      margin: 0 0 89px;
      font-size: 12px;
      line-height: 18px;
   }

   .about-project__subtitle {
      margin: 0 0 22px;
      font-size: 20px;
      letter-spacing: -0.8px;
   }

   .about-project__chart {
      grid-template-columns: 20.95% 79.05%;
   }

   .chart__element {
      text-align: center;
      padding: 9.5px 0;
   }

   .chart__element_name {
      padding: 14px 0;
      font-size: 14px;
      line-height: 17px;
   }

   .chart__element_data {
      font-size: 14px;
   }

}

@media screen and (min-width: 1279px) {
   .about-project-info {
      gap: 53px
   }


   .about-project-subtitle {
      margin: 0 0 26px;
   }

   .about-project-description {
      margin: 0 0 106px;
      font-size: 14px;
      line-height: 20px;
   }

   .about-project-grafic {
      grid-template-columns: 20% 80%;
   }

   .about-project-container {
      padding-bottom: 78px;
   }


}