.container {
  margin: 0 18px;
  padding-bottom: 58px;
}

@media screen and (width >= 767px) {

  .container {
    margin: 0 50px;
  }
}

@media screen and (width >= 1279px) {

  .container {
    margin: 0 70px;
  }
}
