.register {
   height: 100vh;
   display: flex;
   align-items: stretch;
}

@media screen and (min-width: 767px) {
   .register-mod-container {
      grid-template-rows: auto minmax(71px, 1fr) auto;
   }
}