.techs__subtitle {
   text-align: center;
   margin: 0 0 24px;
   font-size: 30px;
   font-weight: 400;
   line-height: normal;
   letter-spacing: -1.2px;
}

.techs__description {
   text-align: center;
   margin: 0 0 50px 0;
   font-size: 11px;
   font-weight: 400;
   line-height: 16px;
   letter-spacing: -0.44px;
}

.techs__table {
   display: grid;
   margin: 0 auto;
   grid-template-columns: 84px 84px;
   justify-content: center;
   gap: 10px 10px;
}

.techs__element {
   padding: 21px 15px;
   text-align: center;
   background-color: #E8E8E8;
   border-radius: 10px;
   font-size: 12px;
   font-weight: 400;
   line-height: normal;
   letter-spacing: -0.48px;
}

.techs__title {
   margin: 55px 0 60px;
}

@media screen and (min-width: 767px) {
   .techs__container {
      margin: 0;
      padding-bottom: 90px;
      background-color: #F5F5F5;
   }

   .techs__title {
      margin: 0 50px 80px;
      padding-top: 91px;
   }

   .techs__subtitle {
      margin: 0 2px 22px 0;
      font-size: 50px;
      line-height: 58px;
      letter-spacing: -2px;
   }

   .techs__description {
      letter-spacing: -0.44px;
      margin: 0 auto 83px;
      font-size: 12px;
      line-height: 18px;
      max-width: 460px;
      letter-spacing: -0.48px;
   }

   .techs__table {
      grid-template-columns: repeat(7, 84px);
   }


}


@media screen and (min-width: 1279px) {
   .techs__container {
      padding-bottom: 101px;
   }

   .techs__title {
      margin: 0 70px 90px;
      padding-top: 101px;
   }

   .techs__subtitle {
      margin: 0 2px 26px 0;
   }

   .techs__description {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.56px;
      margin: 0 auto 100px;
   }

   .techs__element {
      font-size: 14px;
      letter-spacing: -0.56px;
   }

   .techs__table {
      grid-template-columns: repeat(7, 90px);
   }
}