.nav {
   visibility: hidden;
   position: fixed;
   top: 0;
   right: 0;
   z-index: 2;
   opacity: 0;
   transition: all 0.5s ease;
   transform: translate(100%, 0);
   height: 100vh;
   width: 20vw;
}

.nav__container {
   height: 100%;
   width: 100%;
   position: absolute;
   right: 0;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   align-items: center;
   background-color: white;
}

.nav_active {
   background-color: rgb(17, 4, 4, 0.5);
   visibility: visible;
   opacity: 1;
   width: 100vw;
   right: 0;
   transform: translate(0, 0);
}

.nav__list {
   margin-top: 145px;
}

.nav__element {
   text-align: center;
   font-feature-settings: 'clig' off, 'liga' off;
   font-size: 18px;
   font-weight: 500;
   line-height: normal;
   margin-bottom: 25px;
}

.nav-element__button {
   padding: 7px;
}

.nav__button-profile {
   text-decoration: none;
   display: block;
   margin-bottom: 46px;
   border-radius: 40px;
   text-align: left;
   box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
   font-feature-settings: 'clig' off, 'liga' off;
   font-size: 13px;
   font-weight: 500;
   line-height: 12px;
   padding: 9px 36px 9.5px 11px;
   position: relative;
}

.nav__button-profile:hover {
   box-shadow: 2px 2px 5px 0px rgb(0, 0, 0);
}

.nav__button-profile::after {
   position: absolute;
   content: "";
   width: 26px;
   height: 26px;
   right: 3px;
   top: 3px;
   border-radius: 50%;
   background: url('../../images/icon-acc.svg') 7px 7px / 12px no-repeat #F9F9F9;
}

@media screen and (min-width: 767px) {
   .nav__container {
      width: 66.3vw;
   }

   .nav__list {
      margin-top: 160px;
   }

   .nav__element {
      margin-bottom: 29px;
   }

   .nav__button-profile {
      margin-bottom: 89px;
   }

   .nav__button-profile::after {
      background: url('../../images/icon-acc.svg') 7px 6px / 12px no-repeat #F9F9F9;
   }

}

@media screen and (min-width: 1279px) {
   .nav {
      position: static;
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
      height: auto;
      width: auto;
   }


   .nav__container {
      width: auto;
      gap: 355px;
      flex-direction: row;
      position: static;
   }

   .nav__list {
      display: flex;
      margin-top: 0px;
   }

   .nav__button-home {
      display: none;
   }

   .nav__button-profile {
      margin-bottom: 4px;
      padding: 9px 38px 10px 10px;
   }

   .nav__element:first-child {
      padding: 0;
   }

   .nav__button-profile::after {
      background: url('../../images/icon-acc.svg') 7px 6px / 12px no-repeat #F9F9F9;
   }

   .nav__element {
      padding: 0;
      margin-bottom: 5px;
      font-size: 13px;
      line-height: 18px;
   }

   .nav-element__button {
      padding: 8px;
   }
}